{% extends "blog/base.html" %}
{% block content %}

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">By {{ post.id }}</a>
          <small class="text-muted">{{ post.issue_date }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.Project_name }}</a></h2>
        <p class="article-content">{{ post.description }}</p>
        <small class="text-muted">{{ post.deadline }}</small><br>
<!--            <small class="text-muted">{{ post.lead }}</small><br>-->
<!--              <small class="text-muted">{{ post.username }}</small><br>-->

      </div>
    </article>
{% endblock content %}